@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Sans:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #0f0f11;
  color: #f0f0f0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

button {
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}
